@charset "utf-8";

$dark: black;
$semi-dark: gray;
$swiperFirst: #d7d7d7;
$swiperSecond: #aeaeae;
$fourthContP: #626262;
$light: white;
$primary: #f8b915;
$primary2: #ffc500;
$primary3: #ffcb44;
$secondary: #9d8f75;
$tertiary: violet;
$shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$breakpointXXL: 1400px;
$breakpointXL: 1200px;
$breakpointL: 992px;
$breakpointM: 768px;
$breakpointS: 576px;

/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans KR";
}

a:link,
a:visited {
  text-decoration: none;
  color: $dark;
}

ul,
li {
  list-style: none;
}
li {
  cursor: pointer;
}
/* reset end */

/* loading gif */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */
.container {
  width: 1200px;
  margin: 0 auto;
}

.layout {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  position: relative;
}

/* util menu */
.utilMenu {
  font-size: 12px;
  > ul {
    display: flex;
  }
  &.left {
    position: absolute;
    top: 0;
    left: 2%;
    ul {
      gap: 0px;
      li {
        padding: 5px 10px;
        &:nth-child(1) {
          background-color: $primary;
        }
        &:nth-child(2) {
          background-color: $dark;
          color: $light;
        }
      }
    }
  }
  &.right {
    position: absolute;
    top: 0;
    right: 2%;
    color: $secondary;
    li {
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:first-child) {
        background: url(../images/utilMenuRightLine.gif) no-repeat left center; // this not working either!
      }
    }
  }
}

/* navigation(menu) */
.gnbMenu {
  > ul {
    display: flex;
    flex-direction: row;
    > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 30px;

      &:not(:first-child) {
        background: url("../images/gnbMenuLine.gif") no-repeat left center;
      }
      &:hover {
        .gnbSub {
          display: inline-block;
        }
        > a {
          &:first-child {
            background-color: $primary2;
            padding: 0;
            border-radius: 10px;
          }
        }
      }
      .gnbSub {
        display: none;
        width: 100%;
        position: relative;
        padding-top: 15px;
        z-index: 2;
        > .bullet {
          width: 9px;
          height: 9px;
          border: 2px solid $swiperFirst;
          border-radius: 50%;
          // margin: 0 auto;
          margin-left: -5px;
          position: absolute;
          left: 50%;
          top: 10px;
          background-color: $light;
          z-index: 2;
        }
        > .gnbSubBox {
          border: 1px solid $swiperFirst;
          border-radius: 5px;
          position: absolute;
          left: 50%;
          top: 14px;
          background-color: $light;
          // width: auto;
          width: 133px;
          margin-left: -67px;
          // text-align: center;
          > a {
            // display: inline-block;
            // width: 100%;
            border-top: 1px solid $swiperFirst;
            font-size: 12px;
            line-height: 38px;
            color: #333;
            text-align: center;
            letter-spacing: -1px;
            display: block;
            // padding: 10px 16px;
          }
        }
      }
    }
  }
}

/* hamburger button */
.toggle-button {
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  > .bar {
    width: 20px;
    height: 2px;
    background-color: $dark;
    border-radius: 1px;
    position: absolute;
    transition: 0.3s;
  }
  > .bar:nth-child(2) {
    top: 50%;
    margin-top: -1px;
  }
  > .bar:nth-child(3) {
    bottom: 0;
  }
  &.active {
    > .bar:nth-child(1) {
      transform: translate(0, 9px) rotate(45deg);
    }
    > .bar:nth-child(2) {
      opacity: 0;
    }
    > .bar:nth-child(3) {
      transform: translate(0, -9px) rotate(-45deg);
    }
  }
}

.header {
  background-color: $light;
  box-shadow: $shadow;
  position: fixed;
  width: 100%;
  position: relative;
}

/* swiper */
.swiper-container {
  width: 100%;
  // default value is height: auto; => preserves aspect ratio of image
  // background: red;
  .swiper-slide img {
    width: 100%;
    // default value is height: auto; => preserves aspect ratio of image
  }
  &.secondSwiper {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        max-width: 200px;
      }
    }
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .title {
      display: inline-block;
      background-color: $dark;
      color: $light;
      border-radius: 20px;
      padding: 8px 13px; // y x
      font-size: 16px;
      margin-bottom: 10px;
    }
    .swiper-button-prev.secondSwiper,
    .swiper-button-next.secondSwiper {
      color: $swiperSecond;
      --swiper-navigation-size: 30px;
    }
  }
  &.firstSwiper {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .swiper-button-prev.firstSwiper,
    .swiper-button-next.firstSwiper {
      color: $swiperFirst;
      --swiper-navigation-size: 30px;
    }

    // .swiper-pagination.firstSwiper {
    //   background-color: $light;
    //   width: auto; /* Remove fixed width */
    // }
  }
}

.footer {
  background-color: $light;
  padding: 30px 0px;
  box-shadow: $shadow;
}

.content {
  height: 300px;
  // text-align: center;
  &.firstcont,
  &.secondcont {
    height: auto;
  }
  &.firstcont {
    width: 90%;
  }
  &.secondcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// .secondcont {
//   background-color: $secondary;
// }

.thirdcont {
  background-color: $primary3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .storeSearch {
    height: auto;
    width: 50%;
    padding: 30px;
    .formWrap {
      padding-right: 60px;
      position: relative;
      .form {
        margin: 0;
        padding: 0;
        input {
          width: 100%;
          line-height: 60px;
          height: 60px;
          padding: 0 10px;
        }
        .searchBtn {
          height: 60px;
          width: 60px;
          position: absolute;
          right: 0;
          top: 0;
          background: url(../images/mapSearchIcon.svg) no-repeat;
          background-size: 28px auto;
          background-position: center;
          background-color: $dark;
        }
      }
      .searchResult {
        margin-top: 30px;
        .listWrap {
          border-top: 1px solid $light;
          padding: 15px 0;
          .searchList {
            height: 109px;
            background: red;
          }
        }
      }
    }
  }
  .boxRight {
    height: auto;
    padding: 30px;
    width: 50%;
    border-left: 1px solid $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .infoList {
      font-size: 0;
      padding: 0;
      width: 100%;
      li {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        &:first-child {
          padding-top: 0;
          .eventImg {
            background: url("../images/event.png") $light no-repeat center;
            background-size: 90px auto;
          }
        }
        &:last-child {
          margin: 0;
          .newsImg {
            background: url("../images/news.png") $light no-repeat center;
            background-size: 90px auto;
          }
        }
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          cursor: pointer;
          div:first-child {
            width: 145px;
            height: 145px;
            border-radius: 50%;
            margin: auto;
          }
          div:last-child {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.fourthcont {
  // background-color: $primary;
  height: auto;
  width: 80%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 10px;
    color: $fourthContP;
  }
  .icons {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    li {
      div {
        background: red;
        margin: auto;
        background-color: $light;
        margin-top: -10px;
        line-height: 1.5;
        font-size: 16px;
        width: 110px;
        border-radius: 20px;
        box-shadow: $shadow;
        padding: 8px 32px 8px 12px;
        position: relative;
        &::after {
          content: "";
          top: 50%;
          margin-top: -8px;
          width: 15px;
          height: 15px;
          background: url(../images/fourthContSearchIcon.svg) no-repeat center;
          position: absolute;
          right: 12px;
        }
      }
    }
  }
}

/* responsive start */
@media screen and (max-width: $breakpointXL) {
  .toggle-button {
    display: block;
    z-index: 10;
  }
  .gnbMenu {
    // position fixed positions element relative to the VIEWPORT,
    // REGARDLESS OF its ANCESTOR'S POSTIONS!
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > ul {
      flex-direction: column;
    }
  }
  .gnbMenu.active {
    /* even though top and left is 0,
    it will be at center of viewport since we gave
    dflex justify center and align items center to gnbMenu! */
    left: 0%;
    li {
      background: none !important;
    }
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: $breakpointS) {
  .toggle-button {
    display: none;
  }
  .swiper-container.secondSwiper .title {
    font-size: 12px;
  }
}

/* responsive end */
