@charset "utf-8";

$dark: black;
$semi-dark: gray;
$swiperFirst: #d7d7d7;
$swiperSecond: #aeaeae;
$light: white;
$primary: #f8b915;
$primary2: #ffc500;
$secondary: #9d8f75;
$tertiary: violet;
$shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$breakpointXXL: 1400px;
$breakpointXL: 1200px;
$breakpointL: 992px;
$breakpointM: 768px;
$breakpointS: 576px;

/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans KR";
}

a:link,
a:visited {
  text-decoration: none;
  color: $dark;
}

ul,
li {
  list-style: none;
}
li {
  cursor: pointer;
}
/* reset end */

/* loading gif */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */
.container {
  width: 1200px;
  margin: 0 auto;
}

.layout {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  position: relative;
}

/* util menu */
.utilMenu {
  font-size: 12px;
  > ul {
    display: flex;
  }
  &.left {
    position: absolute;
    top: 0;
    left: 2%;
    ul {
      gap: 0px;
      li {
        padding: 5px 10px;
        &:nth-child(1) {
          background-color: $primary;
        }
        &:nth-child(2) {
          background-color: $dark;
          color: $light;
        }
      }
    }
  }
  &.right {
    position: absolute;
    top: 0;
    right: 2%;
    color: $secondary;
    li {
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:first-child) {
        background: url(../images/utilMenuRightLine.gif) no-repeat left center; // this not working either!
      }
    }
  }
}

/* navigation(menu) */
.gnbMenu {
  > ul {
    display: flex;
    flex-direction: row;
    > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 30px;

      &:not(:first-child) {
        background: url("../images/gnbMenuLine.gif") no-repeat left center;
      }
      &:hover {
        .gnbSub {
          display: inline-block;
        }
        > a {
          &:first-child {
            background-color: $primary2;
            padding: 0;
            border-radius: 10px;
          }
        }
      }
      .gnbSub {
        display: none;
        width: 100%;
        position: relative;
        padding-top: 15px;
        z-index: 2;
        > .bullet {
          width: 9px;
          height: 9px;
          border: 2px solid $swiperFirst;
          border-radius: 50%;
          // margin: 0 auto;
          margin-left: -5px;
          position: absolute;
          left: 50%;
          top: 10px;
          background-color: $light;
          z-index: 2;
        }
        > .gnbSubBox {
          border: 1px solid $swiperFirst;
          border-radius: 5px;
          position: absolute;
          left: 50%;
          top: 14px;
          background-color: $light;
          // width: auto;
          width: 133px;
          margin-left: -67px;
          // text-align: center;
          > a {
            // display: inline-block;
            // width: 100%;
            border-top: 1px solid $swiperFirst;
            font-size: 12px;
            line-height: 38px;
            color: #333;
            text-align: center;
            letter-spacing: -1px;
            display: block;
            // padding: 10px 16px;
          }
        }
      }
    }
  }
}

/* hamburger button */
.toggle-button {
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  > .bar {
    width: 20px;
    height: 2px;
    background-color: $dark;
    border-radius: 1px;
    position: absolute;
    transition: 0.3s;
  }
  > .bar:nth-child(2) {
    top: 50%;
    margin-top: -1px;
  }
  > .bar:nth-child(3) {
    bottom: 0;
  }
  &.active {
    > .bar:nth-child(1) {
      transform: translate(0, 9px) rotate(45deg);
    }
    > .bar:nth-child(2) {
      opacity: 0;
    }
    > .bar:nth-child(3) {
      transform: translate(0, -9px) rotate(-45deg);
    }
  }
}

.header {
  background-color: $light;
  box-shadow: $shadow;
  position: fixed;
  width: 100%;
  position: relative;
}

/* swiper */
.swiper-container {
  width: 100%;
  // default value is height: auto; => preserves aspect ratio of image
  // background: red;
  .swiper-slide img {
    width: 100%;
    // default value is height: auto; => preserves aspect ratio of image
  }
  &.secondSwiper {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        max-width: 200px;
      }
    }
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .title {
      display: inline-block;
      background-color: $dark;
      color: $light;
      border-radius: 20px;
      padding: 8px 13px; // y x
      font-size: 16px;
      margin-bottom: 10px;
    }
    .swiper-button-prev.secondSwiper,
    .swiper-button-next.secondSwiper {
      color: $swiperSecond;
      --swiper-navigation-size: 30px;
    }
  }
  &.firstSwiper {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .swiper-button-prev.firstSwiper,
    .swiper-button-next.firstSwiper {
      color: $swiperFirst;
      --swiper-navigation-size: 30px;
    }

    // .swiper-pagination.firstSwiper {
    //   background-color: $light;
    //   width: auto; /* Remove fixed width */
    // }
  }
}

.footer {
  background-color: $light;
  padding: 30px 0px;
  box-shadow: $shadow;
}

.content {
  height: 300px;
  &.firstcont,
  &.secondcont {
    height: auto;
  }
}

// .secondcont {
//   background-color: $secondary;
// }

.thirdcont {
  background-color: $tertiary;
}

.fourthcont {
  background-color: $dark;
}

/* responsive start */
@media screen and (max-width: $breakpointXL) {
  .toggle-button {
    display: block;
    z-index: 10;
  }
  .gnbMenu {
    // position fixed positions element relative to the VIEWPORT,
    // REGARDLESS OF its ANCESTOR'S POSTIONS!
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > ul {
      flex-direction: column;
    }
  }
  .gnbMenu.active {
    /* even though top and left is 0,
    it will be at center of viewport since we gave
    dflex justify center and align items center to gnbMenu! */
    left: 0%;
    li {
      background: none !important;
    }
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: $breakpointS) {
  .toggle-button {
    display: none;
  }
  .swiper-container.secondSwiper .title {
    font-size: 12px;
  }
}

/* responsive end */
