/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans KR";
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

li {
  cursor: pointer;
}

/* reset end */
/* loading gif */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */
.container {
  width: 1200px;
  margin: 0 auto;
}

.layout {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  position: relative;
}

/* util menu */
.utilMenu {
  font-size: 12px;
}
.utilMenu > ul {
  display: flex;
}
.utilMenu.left {
  position: absolute;
  top: 0;
  left: 2%;
}
.utilMenu.left ul {
  gap: 0px;
}
.utilMenu.left ul li {
  padding: 5px 10px;
}
.utilMenu.left ul li:nth-child(1) {
  background-color: #f8b915;
}
.utilMenu.left ul li:nth-child(2) {
  background-color: black;
  color: white;
}
.utilMenu.right {
  position: absolute;
  top: 0;
  right: 2%;
  color: #9d8f75;
}
.utilMenu.right li {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.utilMenu.right li:not(:first-child) {
  background: url(../images/utilMenuRightLine.gif) no-repeat left center;
}

/* navigation(menu) */
.gnbMenu > ul {
  display: flex;
  flex-direction: row;
}
.gnbMenu > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
.gnbMenu > ul > li:not(:first-child) {
  background: url("../images/gnbMenuLine.gif") no-repeat left center;
}
.gnbMenu > ul > li:hover .gnbSub {
  display: inline-block;
}
.gnbMenu > ul > li:hover > a:first-child {
  background-color: #ffc500;
  padding: 0;
  border-radius: 10px;
}
.gnbMenu > ul > li .gnbSub {
  display: none;
  width: 100%;
  position: relative;
  padding-top: 15px;
  z-index: 2;
}
.gnbMenu > ul > li .gnbSub > .bullet {
  width: 9px;
  height: 9px;
  border: 2px solid #d7d7d7;
  border-radius: 50%;
  margin-left: -5px;
  position: absolute;
  left: 50%;
  top: 10px;
  background-color: white;
  z-index: 2;
}
.gnbMenu > ul > li .gnbSub > .gnbSubBox {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 14px;
  background-color: white;
  width: 133px;
  margin-left: -67px;
}
.gnbMenu > ul > li .gnbSub > .gnbSubBox > a {
  border-top: 1px solid #d7d7d7;
  font-size: 12px;
  line-height: 38px;
  color: #333;
  text-align: center;
  letter-spacing: -1px;
  display: block;
}

/* hamburger button */
.toggle-button {
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.toggle-button > .bar {
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 1px;
  position: absolute;
  transition: 0.3s;
}
.toggle-button > .bar:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
.toggle-button > .bar:nth-child(3) {
  bottom: 0;
}
.toggle-button.active > .bar:nth-child(1) {
  transform: translate(0, 9px) rotate(45deg);
}
.toggle-button.active > .bar:nth-child(2) {
  opacity: 0;
}
.toggle-button.active > .bar:nth-child(3) {
  transform: translate(0, -9px) rotate(-45deg);
}

.header {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  position: relative;
}

/* swiper */
.swiper-container {
  width: 100%;
}
.swiper-container .swiper-slide img {
  width: 100%;
}
.swiper-container.secondSwiper a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container.secondSwiper a > img {
  max-width: 200px;
}
.swiper-container.secondSwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-container.secondSwiper .title {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 8px 13px;
  font-size: 16px;
  margin-bottom: 10px;
}
.swiper-container.secondSwiper .swiper-button-prev.secondSwiper,
.swiper-container.secondSwiper .swiper-button-next.secondSwiper {
  color: #aeaeae;
  --swiper-navigation-size: 30px;
}
.swiper-container.firstSwiper .swiper-button-prev.firstSwiper,
.swiper-container.firstSwiper .swiper-button-next.firstSwiper {
  color: #d7d7d7;
  --swiper-navigation-size: 30px;
}

.footer {
  background-color: white;
  padding: 30px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content {
  height: 300px;
  text-align: center;
}
.content.firstcont, .content.secondcont {
  height: auto;
}
.content.firstcont {
  width: 90%;
}

.thirdcont {
  background-color: #ffcb44;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
}
.thirdcont h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdcont .storeSearch {
  height: auto;
  width: 50%;
  padding: 30px;
}
.thirdcont .storeSearch .formWrap {
  padding-right: 60px;
  position: relative;
}
.thirdcont .storeSearch .formWrap .form {
  margin: 0;
  padding: 0;
}
.thirdcont .storeSearch .formWrap .form input {
  width: 100%;
  line-height: 60px;
  height: 60px;
  padding: 0 10px;
}
.thirdcont .storeSearch .formWrap .form .searchBtn {
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/searchIcon.svg) no-repeat;
  background-size: 28px auto;
  background-position: center;
  background-color: black;
}
.thirdcont .storeSearch .formWrap .searchResult {
  margin-top: 30px;
}
.thirdcont .storeSearch .formWrap .searchResult .listWrap {
  border-top: 1px solid white;
  padding: 15px 0;
}
.thirdcont .storeSearch .formWrap .searchResult .listWrap .searchList {
  height: 109px;
  background: red;
}
.thirdcont .boxRight {
  height: auto;
  padding: 30px;
  width: 50%;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thirdcont .boxRight .infoList {
  font-size: 0;
  padding: 0;
  width: 100%;
}
.thirdcont .boxRight .infoList li {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.thirdcont .boxRight .infoList li:first-child {
  padding-top: 0;
}
.thirdcont .boxRight .infoList li:first-child .eventImg {
  background: url("../images/event.png") white no-repeat center;
  background-size: 90px auto;
}
.thirdcont .boxRight .infoList li:last-child {
  margin: 0;
}
.thirdcont .boxRight .infoList li:last-child .newsImg {
  background: url("../images/news.png") white no-repeat center;
  background-size: 90px auto;
}
.thirdcont .boxRight .infoList li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.thirdcont .boxRight .infoList li a div:first-child {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin: auto;
}
.thirdcont .boxRight .infoList li a div:last-child {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin-top: 10px;
}

.fourthcont {
  background-color: #f8b915;
}

/* responsive start */
@media screen and (max-width: 1200px) {
  .toggle-button {
    display: block;
    z-index: 10;
  }
  .gnbMenu {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gnbMenu > ul {
    flex-direction: column;
  }
  .gnbMenu.active {
    /* even though top and left is 0,
    it will be at center of viewport since we gave
    dflex justify center and align items center to gnbMenu! */
    left: 0%;
  }
  .gnbMenu.active li {
    background: none !important;
  }
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .toggle-button {
    display: none;
  }
  .swiper-container.secondSwiper .title {
    font-size: 12px;
  }
}
/* responsive end *//*# sourceMappingURL=index.css.map */